$vw-viewport: 1440;
@function get-vw($font) {
  $vw-context: $vw-viewport * 0.01 * 1px;
  @return $font / $vw-context * 1vw;
  @return $font;
}
.container {
  width: 100vw;
  min-height: 100vh;
  font-family: "Jost";
  display: flex;
  flex-direction: column;
}
.main {
  font-family: "Jost";
  width: 100vw;
  min-height: 100vh;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: row;
  // align-items: center;
  justify-content: center;
  padding: get-vw(100px) 0 get-vw(0px) 0;
}
.sidebar {
  display: flex;
  flex-direction: column;
  width: get-vw(225px);
  height: get-vw(529px);
}

.feedBoard {
  background: radial-gradient(
    128.88% 128.88% at 103.9% -10.39%,
    #e84d70 10%,
    #a337f6 53.09%,
    #28a7ed 100%
  );
  // background: url(/feedback.png);
  border-radius: 10px;
  margin-bottom: get-vw(25px);
  width: get-vw(225px);
  height: get-vw(137px);
}
.txt1 {
  margin: get-vw(62px) 0 get-vw(24px) get-vw(24px);
}
.txt1 text {
  font-size: get-vw(20px);
  font-weight: 700;
}
.txt1 p {
  font-size: get-vw(15px);
  font-weight: 500;
}
.sideOptions {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: get-vw(225px);
  height: get-vw(166px);
  background-color: #ffffff;
  margin-bottom: get-vw(25px);
  border-radius: 10px;
}
.lineCont {
  width: get-vw(181px);
  height: get-vw(118px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.line {
  display: flex;
  width: 100%;
  justify-content: start;
}
.line2 {
  display: flex;
  margin: get-vw(14px) 0 get-vw(14px) 0;
}
.btn1 {
  width: get-vw(48px);
  height: get-vw(30px);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4661e6;
  border-radius: get-vw(10px);
  font-weight: 600;
  font-size: 13px;
  color: #ffffff;
  margin-right: get-vw(8px);
  cursor: pointer;
}

.btn2 {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: get-vw(10px);
  width: get-vw(48px);
  height: get-vw(30px);
  font-weight: 600;
  font-size: 13px;
  color: #4661e6;
  background-color: #f2f4ff;
  margin-right: get-vw(8px);
  cursor: pointer;
}
.btn3 {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: get-vw(10px);
  width: get-vw(48px);
  height: get-vw(30px);
  font-family: "Jost";
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  color: #4661e6;
  background-color: #f2f4ff;
  cursor: pointer;
}
.btn4 {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: get-vw(10px);
  width: get-vw(111px);
  height: get-vw(30px);
  font-family: "Jost";
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  color: #4661e6;
  background-color: #f2f4ff;
  margin-right: get-vw(8px);
  cursor: pointer;
}
.btn5 {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: get-vw(10px);
  width: get-vw(56px);
  height: get-vw(30px);
  font-family: "Jost";
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  color: #4661e6;
  background-color: #f2f4ff;
  cursor: pointer;
}
.btn6 {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: get-vw(10px);
  width: get-vw(56px);
  height: get-vw(30px);
  font-family: "Jost";
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  color: #4661e6;
  background-color: #f2f4ff;
  cursor: pointer;
}
.btn1:hover,
.btn2:hover,
.btn3:hover,
.btn4:hover,
.btn5:hover,
.btn6:hover {
  background-color: #cfd7ff;
}
.roadMap {
  width: get-vw(225px);
  height: get-vw(178px);
  left: get-vw(165px);
  top: get-vw(94px);
  background-color: #ffffff;
  color: #3a4374;
  margin-bottom: get-vw(25px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.line3 {
  width: get-vw(207px);
  height: get-vw(26px);
  font-size: get-vw(18px);
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: get-vw(19px);
  margin-bottom: get-vw(24px);
  padding: 0 get-vw(24px) 0 get-vw(24px);
}
// .line3 text {
//   font-size: get-vw(18px);
//   font-weight: 700;
// }
.line3 a {
  color: #4661e6;
  font-size: get-vw(15px);
}
.line3 a:hover {
  text-decoration-line: underline;
}
.line4 {
  width: get-vw(207px);
  height: get-vw(26px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: get-vw(19px);
  margin-bottom: get-vw(24px);
  padding: 0 get-vw(24px) 0 get-vw(24px);
}
.line4 p {
  font-size: get-vw(16px);
  font-weight: 400;
  padding-left: none;
}
.line4 text {
  font-size: get-vw(16px);
  font-weight: 700;
}
.txt2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dotCont {
  display: flex;
  align-items: center;
}
.txt3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.txt4 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dot1 {
  width: get-vw(8px);
  height: get-vw(8px);
  border-radius: get-vw(5px);
  background-color: #f49f85;
  margin-right: get-vw(16px);
}
.dot2 {
  width: get-vw(8px);
  height: get-vw(8px);
  border-radius: get-vw(5px);
  background-color: #ad1fea;
  margin-right: get-vw(16px);
}
.dot3 {
  width: get-vw(8px);
  height: get-vw(8px);
  border-radius: get-vw(5px);
  background-color: #62bcfa;
  margin-right: get-vw(16px);
}
.sidebar2 {
  // background-color: #e84d70;
  width: get-vw(825px);
  height: get-vw(696px);
  display: flex;
  flex-direction: column;
  // justify-content: center;
  // align-items: center;
  margin-left: get-vw(30px);
}
.suggestion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: get-vw(72px);
  background: #373f68;
  border-radius: get-vw(10px);
  padding-right: get-vw(16px);
  padding-left: get-vw(24px);
}
.leftside {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
}
.img1 {
  background: url(/Vector.png);
  background-size: contain;
  width: get-vw(23px);
  height: get-vw(24px);
  margin-right: get-vw(16px);
}
.leftside text {
  margin-right: get-vw(38px);
  font-weight: 700;
  font-size: get-vw(18px);
}
.label {
  color: #f2f4fe;
  font-weight: 400;
  font-size: get-vw(14px);
  display: flex;
  justify-content: center;
  align-items: center;
  // width: get-vw(10px);
  height: get-vw(50px);
}
.sortby {
  border: none;
  font-weight: 400;
  font-size: get-vw(14px);
  color: #f2f4fe;
  mix-blend-mode: normal;
  opacity: 0.5;
  background: transparent;
  cursor: pointer;
  margin-left: 0;
  border: none;
  border-radius: get-vw(0px);
  // width: fit-content;padding-right: get-vw(100px);
}
.sortby option:checked {
  background: #f0f0f0;
  color: #0044ff;
  border-radius: get-vw(0px);
  width: get-vw(192px);
  height: get-vw(225px);
}
.btn7 {
  width: get-vw(158px);
  height: get-vw(44px);
  font-weight: 700;
  font-size: get-vw(14px);
  background-color: #ad1fea;
  border-radius: get-vw(10px);
  border: none;
  cursor: pointer;
}
.btn7:hover {
  background: #c75af6;
}
.sugSpace {
  background: #ffffff;
  color: #647196;
  width: get-vw(825px);
  height: get-vw(600px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: get-vw(24px);
  border-radius: get-vw(10px);
}
.img2 {
  width: get-vw(129.64px);
  height: get-vw(136.74px);
  background: url(/hat.png);
  background-size: contain;
  margin-bottom: get-vw(53.26px);
  background-repeat: no-repeat;
}
.sugSpace text {
  font-size: get-vw(24px);
  font-weight: 700;
  color: #3a4374;
  margin-bottom: get-vw(16px);
}
.sugSpace p {
  font-size: get-vw(16px);
  font-weight: 400;
  text-align: center;
  color: #647196;
}
.btn8 {
  width: get-vw(158px);
  height: get-vw(44px);
  font-weight: 700;
  font-size: get-vw(14px);
  background: #ad1fea;
  border-radius: get-vw(10px);
  border: none;
  margin-top: get-vw(48px);
  cursor: pointer;
}
.btn8:hover {
  background: #c75af6;
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .container {
    width: 100vw;
    min-height: 100vh;
    font-family: "Jost";
    display: flex;
    flex-direction: column;
  }
  .main {
    font-family: "Jost";
    width: 100vw;
    min-height: 100vh;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  .sidebar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: get-vw(300px);
  }
  .feedBoard {
    background: radial-gradient(
      128.88% 128.88% at 103.9% -10.39%,
      #e84d70 10%,
      #a337f6 53.09%,
      #28a7ed 100%
    );
    border-radius: 10px;
    margin-right: get-vw(10px);
    width: get-vw(400px);
    height: get-vw(300px);
    margin-bottom: get-vw(0px);
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-bottom: get-vw(40px);
  }
  .txt1 text {
    font-size: get-vw(30px);
  }
  .txt1 p {
    font-size: get-vw(25px);
  }
  .lineCont {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .line {
    display: flex;
    width: 80%;
    justify-content: start;
    font-size: get-vw(20px);
    font-weight: 600;
  }
  .line2 {
    display: flex;
    width: 80%;
    justify-content: start;
    margin: get-vw(20px) 0 get-vw(20px) 0;
    font-size: get-vw(20px);
    font-weight: 600;
  }
  .btn1 {
    width: get-vw(95px);
    height: get-vw(60px);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4661e6;
    border-radius: get-vw(10px);
    color: #ffffff;
    margin-right: get-vw(20px);
    cursor: pointer;
    font-size: get-vw(20px);
  }

  .btn2 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: get-vw(10px);
    width: get-vw(95px);
    height: get-vw(60px);
    color: #4661e6;
    background-color: #f2f4ff;
    margin-right: get-vw(20px);
    cursor: pointer;
    font-size: get-vw(20px);
  }
  .btn3 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: get-vw(10px);
    width: get-vw(95px);
    height: get-vw(60px);
    color: #4661e6;
    background-color: #f2f4ff;
    cursor: pointer;
    font-size: get-vw(20px);
  }
  .btn4 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: get-vw(10px);
    width: get-vw(180px);
    height: get-vw(60px);
    color: #4661e6;
    background-color: #f2f4ff;
    margin-right: get-vw(20px);
    cursor: pointer;
    font-size: get-vw(20px);
  }
  .btn5 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: get-vw(10px);
    width: get-vw(95px);
    height: get-vw(60px);
    color: #4661e6;
    background-color: #f2f4ff;
    cursor: pointer;
    font-size: get-vw(20px);
  }
  .btn6 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: get-vw(10px);
    width: get-vw(150px);
    height: get-vw(60px);
    color: #4661e6;
    background-color: #f2f4ff;
    cursor: pointer;
    font-size: get-vw(20px);
  }
  .sideOptions {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: get-vw(400px);
    height: get-vw(300px);
    background-color: #ffffff;
    margin-right: get-vw(10px);
    border-radius: 10px;
    margin-bottom: get-vw(0px);
  }
  .line text,
  .line2 text {
    font-weight: 600;
    font-size: get-vw(13px);
  }
  .roadMap {
    width: get-vw(400px);
    height: get-vw(300px);
    background-color: #ffffff;
    color: #3a4374;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    border-radius: 10px;
    margin-bottom: get-vw(0px);
  }
  .line3 {
    width: 90%;
    height: get-vw(26px);
    font-size: get-vw(30px);
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: get-vw(40px);
    padding: 0 get-vw(24px) 0 get-vw(24px);
  }
  // .line3 text {
  //   font-size: get-vw(18px);
  //   font-weight: 700;
  // }
  .line3 a {
    color: #4661e6;
    font-size: get-vw(26px);
  }
  .line3 a:hover {
    text-decoration-line: underline;
  }
  .line4 {
    width: 90%;
    height: get-vw(26px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: get-vw(90px);
    margin-bottom: get-vw(24px);
    padding: 0 get-vw(24px) 0 get-vw(24px);
  }
  .line4 p {
    font-size: get-vw(25px);
    font-weight: 400;
    padding-left: none;
  }
  .line4 text {
    font-size: get-vw(25px);
    font-weight: 700;
  }
  .txt2,
  .txt3,
  .txt4 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: get-vw(20px);
  }
  .dotCont {
    display: flex;
    align-items: center;
  }
  .dot1 {
    width: get-vw(15px);
    height: get-vw(15px);
    border-radius: 50%;
    background-color: #f49f85;
    margin-right: get-vw(16px);
  }
  .dot2 {
    width: get-vw(15px);
    height: get-vw(15px);
    border-radius: 50%;
    background-color: #ad1fea;
    margin-right: get-vw(16px);
  }
  .dot3 {
    width: get-vw(15px);
    height: get-vw(15px);
    border-radius: 50%;
    background-color: #62bcfa;
    margin-right: get-vw(16px);
  }
  .sidebar2 {
    // background-color: #e84d70;
    width: 80%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: get-vw(0px);
    margin-top: get-vw(50px);
  }
  .suggestion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: get-vw(130px);
    background: #373f68;
    border-radius: get-vw(10px);
    padding-right: get-vw(16px);
    padding-left: get-vw(24px);
  }
  .img1 {
    background: url(/Vector.png);
    background-size: contain;
    width: get-vw(30px);
    height: get-vw(32px);
    margin-right: get-vw(16px);
  }
  .leftside text {
    margin-right: get-vw(38px);
    font-weight: 700;
    font-size: get-vw(26px);
  }
  .label {
    color: #f2f4fe;
    font-weight: 400;
    font-size: get-vw(25px);
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: get-vw(50px);
  }
  .sortby {
    border: none;
    font-weight: 400;
    font-size: get-vw(20px);
    color: #f2f4fe;
    mix-blend-mode: normal;
    opacity: 0.5;
    // background: transparent;
    cursor: pointer;
    margin-left: 0;
    border: none;
    border-radius: get-vw(0px);
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    background-position: calc(100% - 2px) center !important;
    background: url("data:image/svg+xml,<svg height='10px' width='10px' viewBox='0 0 16 16' fill='%23000000' xmlns='http://www.w3.org/2000/svg'><path d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/></svg>")
      no-repeat;
    padding: 8px 12px 8px 16px;
  }
  .sortby option:checked {
    background: #f0f0f0;
    color: #373f68;
    border-radius: get-vw(0px);
    width: get-vw(192px);
    height: get-vw(225px);
  }
  .btn7 {
    width: get-vw(250px);
    height: get-vw(70px);
    font-weight: 700;
    font-size: get-vw(20px);
    background-color: #ad1fea;
    border-radius: get-vw(10px);
    border: none;
    cursor: pointer;
  }
  .sugSpace {
    background: #ffffff;
    color: #647196;
    width: 95%;
    height: get-vw(800px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: get-vw(24px);
    border-radius: get-vw(10px);
  }
  .img2 {
    width: get-vw(150.64px);
    height: get-vw(150.74px);
    background: url(/hat.png);
    background-size: contain;
    margin-bottom: get-vw(53.26px);
    background-repeat: no-repeat;
  }
  .sugSpace text {
    font-size: get-vw(30px);
    font-weight: 700;
    color: #3a4374;
    margin-bottom: get-vw(16px);
  }
  .sugSpace p {
    font-size: get-vw(20px);
    font-weight: 400;
    text-align: center;
    color: #647196;
  }
  .btn8 {
    width: get-vw(200px);
    height: get-vw(60px);
    font-weight: 700;
    font-size: get-vw(20px);
    background: #ad1fea;
    border-radius: get-vw(10px);
    border: none;
    margin-top: get-vw(48px);
    cursor: pointer;
  }
}

/* Mobile */
@media (max-width: 700px) {
  $vw-viewport: 700;
  @function get-vw($font) {
    $vw-context: $vw-viewport * 0.01 * 1px;
    @return $font / $vw-context * 1vw;
    @return $font;
  }
  .container {
    width: 100vw;
    min-height: 100vh;
    font-family: "Jost";
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .main {
    font-family: "Jost";
    width: 100vw;
    min-height: 100vh;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    // align-items: center;
    justify-content: start;
    padding: get-vw(0px) 0 get-vw(0px) 0;
  }
  .sidebar {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
  }
  .feedBoard {
    background: radial-gradient(
      128.88% 128.88% at 103.9% -10.39%,
      #e84d70 10%,
      #a337f6 53.09%,
      #28a7ed 100%
    );
    border-radius: 0px;
    margin-bottom: 0px;
    width: 100%;
    height: 90px;
    padding: 0 20px 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .txt1 {
    display: flex;
    flex-direction: column;
  }
  .txt1 text {
    font-size: 23px;
    font-weight: 700;
  }
  .txt1 p {
    font-size: 15px;
    font-weight: 500;
  }
  .menu {
    width: 20px;
    height: 17px;
    background: url(/menu.png);
    cursor: pointer;
  }
  .menux {
    width: 20px;
    height: 17px;
    background: url(/close.png);
    cursor: pointer;
  }
  .popup {
    position: absolute;
    top: 90px;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba($color: #000000, $alpha: 0.5);
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items: flex-end;
  }
  .sideOptions {
    display: none;
    width: 100%;
    height: fit-content;
    background-color: rgba($color: #f7f8fd, $alpha: 0.5);
  }
  .sideOptions2 {
    width: 100%;
    height: fit-content;
    background-color: rgba($color: #f7f8fd, $alpha: 0.5);
  }
  .roadMap {
    margin-bottom: get-vw(0px);
    width: 100%;
    display: none;
  }

  .sidebar2 {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin-left: 0px;
    margin-top: 0px;
    padding-bottom: 40px;
  }
  .suggestion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 90px;
    background: #373f68;
    border-radius: get-vw(0px);
    padding: 0 20px 0 25px;
  }
  .leftside {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
  }
  .img1 {
    display: none;
  }
  .leftside text {
    display: none;
  }
  .label {
    color: #f2f4fe;
    font-weight: 400;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: 0px;
  }
  .sortby {
    border: none;
    font-weight: 400;
    font-size: 14px;
    color: #f2f4fe;
    opacity: 0.5;
    cursor: pointer;
    margin-left: 0px;
    border: none;
    border-radius: 0px;
    width: 120px;
    padding-left: 10px;
  }
  .sortby option:checked {
    background: #f0f0f0;
    color: #0044ff;
    border-radius: get-vw(0px);
    width: 100px;
    height: 20px;
  }
  .btn7 {
    width: 124px;
    height: 40px;
    font-weight: 700;
    font-size: 12px;
    background-color: #ad1fea;
    border-radius: 10px;
    border: none;
    cursor: pointer;
  }
  .btn7:hover {
    background: #c75af6;
  }
  .sugSpace {
    background: #ffffff;
    color: #647196;
    width: 90%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    border-radius: 10px;
  }
  .img2 {
    width: 100px;
    height: 100px;
    background: url(/hat.png);
    background-size: contain;
    margin-bottom: 20px;
    background-repeat: no-repeat;
  }
  .sugSpace text {
    font-size: 15px;
    font-weight: 700;
    color: #3a4374;
    margin-bottom: 16px;
  }
  .sugSpace p {
    font-size: 11px;
    font-weight: 400;
    text-align: center;
    color: #647196;
  }
  .btn8 {
    width: 130px;
    height: 40px;
    font-weight: 700;
    font-size: 12px;
    background: #ad1fea;
    border-radius: 10px;
    border: none;
    margin-top: 20px;
    cursor: pointer;
  }
  // .txt1 {
  //   margin: get-vw(62px) 0 get-vw(24px) get-vw(24px);
  // }
  .txt1 text {
    font-size: get-vw(30px);
    font-weight: 700;
  }
  .txt1 p {
    font-size: get-vw(20px);
    font-weight: 500;
  }
  .lineCont {
    width: 70%;
    height: get-vw(350px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    padding: get-vw(50px) get-vw(50px) get-vw(50px) get-vw(50px);
  }
  .line {
    display: flex;
    width: 100%;
    justify-content: start;
  }
  .line2 {
    display: flex;
    width: 100%;
    margin: get-vw(14px) 0 get-vw(14px) 0;
    justify-content: start;
  }
  .btn12 {
    width: get-vw(100px);
    height: get-vw(70px);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4661e6;
    border-radius: get-vw(20px);
    font-weight: 600;
    font-size: 13px;
    color: #ffffff;
    margin-right: get-vw(20px);
    cursor: pointer;
  }

  .btn22 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: get-vw(10px);
    width: get-vw(100px);
    height: get-vw(70px);
    font-weight: 600;
    font-size: 13px;
    color: #4661e6;
    background-color: #f2f4ff;
    margin-right: get-vw(20px);
    cursor: pointer;
  }
  .btn32 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: get-vw(20px);
    width: get-vw(100px);
    height: get-vw(70px);
    font-family: "Jost";
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    color: #4661e6;
    background-color: #f2f4ff;
    cursor: pointer;
  }
  .btn42 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: get-vw(10px);
    width: get-vw(211px);
    height: get-vw(70px);
    font-family: "Jost";
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    color: #4661e6;
    background-color: #f2f4ff;
    margin-right: get-vw(20px);
    cursor: pointer;
  }
  .btn52 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: get-vw(10px);
    width: get-vw(80px);
    height: get-vw(70px);
    font-family: "Jost";
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    color: #4661e6;
    background-color: #f2f4ff;
    cursor: pointer;
  }
  .btn62 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: get-vw(10px);
    width: get-vw(120px);
    height: get-vw(70px);
    font-family: "Jost";
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    color: #4661e6;
    background-color: #f2f4ff;
    cursor: pointer;
  }
  .roadMap2 {
    width: 70%;
    height: get-vw(450px);
    left: get-vw(165px);
    top: get-vw(94px);
    background-color: #ffffff;
    color: #3a4374;
    margin-bottom: get-vw(25px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
  }
  .line32 {
    width: get-vw(207px);
    height: get-vw(26px);
    font-size: 13px;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: get-vw(19px);
    margin-bottom: get-vw(24px);
    padding: 0 get-vw(24px) 0 get-vw(24px);
  }
  // .line3 text {
  //   font-size: get-vw(18px);
  //   font-weight: 700;
  // }
  .line32 a {
    color: #4661e6;
    font-size: 13px;
  }
  .line32 a:hover {
    text-decoration-line: underline;
  }
  .line42 {
    width: get-vw(207px);
    height: get-vw(26px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: get-vw(19px);
    margin-bottom: get-vw(24px);
    padding: 0 get-vw(24px) 0 get-vw(24px);
  }
  .line42 p {
    font-size: 13px;
    font-weight: 400;
    padding-left: none;
  }
  .line42 text {
    font-size: 13px;
    font-weight: 700;
  }
  .txt22 {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .dotCont2 {
    display: flex;
    align-items: center;
  }
  .txt32 {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .txt4 {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
